body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: 'Josefin Sans', sans-serif;  
  }
  header {
    background: rgb(240, 230, 178);
    padding: 30px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:block;
    width:100%;
    float:right;
    text-align:right;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display:block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

button {
    background-color: #71a8db;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }
  
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  .cancelbtn, .signupbtn {
    float: left;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
